APScheduler==3.6.3
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
html5lib==1.1
idna==3.2
mysql-connector-python==8.0.26
protobuf==3.17.3
python-telegram-bot==13.7
pytz==2021.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
tornado==6.1
tzdata==2021.1
tzlocal==3.0
urllib3==1.26.6
webencodings==0.5.1
